* {
    box-sizing: border-box;
    font-family: Manrope;
    text-decoration: none;
    list-style-type: none;
}

body {
    height: 100%;
    width: 100%;
}

nav li {
    display: inline;
    padding: 0 12px;
}

.top {
    float: left;
    width: 33.33%;
}

#logo {
    width: 100px;
    height: 100px;
}

header {
    width: 100%;
    height: 20%;
    justify-content: center;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

main {
    height: 60%;
    width: 100%;
}

.signup-main {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

.pic-sect {
    width: 60%;
}

#signup_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
}

.center_txt {
    text-align: center;
}

input, .btn {
    width: 100%;
    margin: 7px 0;
    padding: 10px 12px;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #080FC9;
    color: #FFFFFF;
}

#or-styl {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

#or-styl span {
    background:#fff;
    padding:0 10px;
}

.below_form {
    margin-top: 25px;
}

.last-txt {
    font-size: small;
}


